.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body, html {
  height: 100%;
  margin: 0;
}


#landing-page-main-div {
  background-color: black;
  position: absolute;
  background: url('https://media.timeout.com/images/100898539/image.jpg') no-repeat center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  justify-content: center;
}

#landing-page-logo-container {
  bottom: 0;
  flex: 1;
  justify-content: flex-end;
  margin-bottom: 5%;
}

.nav-bar-button {
  border-style: none;
  border: none;
  display: inline-block;
  outline: none;
}

.nav-bar-button:hover {
  color: gray;
}

#nav-bar {
  list-style: none;

}
#nav-bar li {
  display: inline-block;
}

.drink-card {
  position: relative;
  width: 400px;
  height: 400px;
}

.drink-card .drink-card-img {
  visibility: visible;
}
.drink-card .drink-card-name {
  margin: 10px;
  text-align: right;
  visibility: hidden;
}

.drink-card:hover .drink-card-name {
  position: absolute;
  visibility: visible;
  top: 0;
}
.drink-card:hover img {
  background-color: #fff;
  opacity: 0.25;
}
.drink-card .drink-card-desc {
  margin: 20px;
  position: absolute;
  visibility: hidden;
}

.drink-card:hover .drink-card-desc {
  position: absolute;
  visibility: visible;
  top: 40px;
}
.drink-card {
  /* background-color: #fff;
  opacity: 0.25; */
}

#random-drinks-container {
  display: inline-flex;
}

#random-drinks-container img {
  max-width: 400px;
  max-height: 400px;
}

#Logo {
  color: white;
  font-size: 5em;
  margin-bottom: 0px;
}

#log-in-button {
  border: none;
  background: none;
  color: white;
  font-size: 2em;
}

#log-in-button:hover {
  color:goldenrod;
}

#signup-button {
  border: none;
  background: none;
  color: white;
  font-size: 2em;
}

#signup-button:hover {
  color: goldenrod;
}

#divider {
  color: white;
  font-size: 2em;
}

#welcome-back {
  color: white;
  font-size: 3em;
}

#login-signup-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-bottom: 6%;
  
}

.input {
  color: white;
  font-size: 2em;
  margin-right: .5em;
}

#landing-page-main-div input {
  background: none;
  background-color: transparent;
  border: none;
  font-size: .5em;
  outline: 0;
  border-bottom: 1px;
}
